body{
  overflow-y: scroll;
  overflow-x: hidden;
}
header{
  display: flex;
}
header nav ul{
  margin-top: 20px;
}
header nav ul li{
  padding: 10px;
  display: inline;
}
header nav ul li a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}
#brandname{
  position: relative;
  left: 570px;
  bottom: 35px;
  font-family: cursive;
  font-size: 45px;
}
#navoption{
  position: relative;
  left: 1220px;
  bottom: 100px;
}
#navoption a{
  text-decoration: none;
  color: #45496A;
  padding-left: 20px;
  font-size: 25px;
}
#arrowcont .arrow{
  display: inline;
  position: relative;
  left: 650px;
  bottom: 40px;
}
.arrow{
  font-size: 40px;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 40px;
    left: 55px;
}
#mainpic{
  position: relative;
  bottom: 135px;
  right: 200px;
}
#dollar{
  font-family: sans-serif;
  color: #45496A;
  position: relative;
  left: 150px;
  bottom: 25px;

}
#price_heart{
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 30px;
}
#price{
  padding: 10px;
  position: relative;
  left: 12px;
  width: 280px;
  height: 270px;
  border-radius: 25px;
  background-color: #E0DDCA;
}
#btn_add{
  width: 150px;
  height: 40px;
  padding: 1px;
  background-color: #45496A;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  position: relative;
  right: 80px;
}
#extralink{
  position: relative;
  top: 20px;
  display: inline;
}
#extralink a{
  text-decoration: none;
  color: #45496A;
  padding-right: 15px;
}
.pic3 img{
  width: 300px;
  height: 190px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey;
}
#deux{
  display: flex;
  position: relative;
  left: 50px;
}
#trois{
  display: flex;
  padding-left: 150px;
}